body {
  margin: 0;
  padding: 0;
  background-color: rgb(17, 103, 241);

}

#intro {
  height: 100vh;
  background-image: url('http://www.wallpaperup.com/uploads/wallpapers/2016/02/17/895454/13adddd17c220b9cf78f502c6c05aa12.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  
}





.splash-content {
  text-align: center;
}
.mercedes-title {
  background-image: url("https://i.ibb.co/vBDyNMf/1125001-removebg-preview.png");
  background-size: cover;
  background-position: left;
  width: 300px; /* Adjust the width and height according to your image dimensions */
  height: 200px;
  text-indent: 0; /* Remove text indentation */
  color: transparent; /* Make the text transparent */
  font-size: 0; /* Set the font size to 0 to hide the text */
  text-shadow: none; /* Remove any text shadow */
  background-position: left; /* Set the background position to center bottom */
  transform: translateY(-175px); 
margin-right: 1000px;
}

header {
  background-color: rgb(17, 103, 241);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

}

nav li {
  margin-right: 20px;

}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #000000;
}

main {
  padding: 50px;
      color: #ffffff;
}

#content {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
    color: #ffffff;
}
.product {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product img {
  width: 40%;
  border-radius: 10px;
}

.product h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.product p {
  margin-bottom: 0;
  color: #ffffff;
}

.contact-us {
  background-color: rgb(17, 103, 241);
  padding: 50px 0;
  background-size: 150px;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
  
  
}

ul li {
  margin-bottom: 10px;
}

ul li i {
  margin-right: 10px;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
 border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  
  font-size: 1.2rem;
}

form textarea {
  height: 150px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #000000;
  color: #fff;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #fff;
  color: #000000;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-icons li {
  margin-right: 20px;
}

.social-icons a {
  text-decoration: none;
  color: rgb(5, 0, 0);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00a8ff;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #fff;
}
